<.flash_group flash={@flash} />
<div class="center fixed inset-y-0 right-0 z-0 hidden lg:block xl:left-[50rem]">
  <h1 class="text-2x1">Live Views Playground</h1>
  <ul>
    <li><a href="/light">Light Switch</a></li>
    <li><a href="/math">Printable Random Multiplication Quiz</a></li>
  </ul>
</div>
